/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/flaticon.woff2") format("woff2"),
         url("../fonts/flaticon.woff") format("woff"),
         url("../fonts/flaticon.ttf") format("truetype"),
         url("../fonts/flaticon.svg#Flaticon") format("svg");
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:after, [class*=" flaticon-"]:after,
[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: 'Flaticon';
    font-style: normal;

}

.flaticon-classroom:before { content: "\f107"; }
.flaticon-cloud:before { content: "\f104"; }
.flaticon-cogs:before { content: "\f105"; }
.flaticon-github:before { content: "\f100"; }
.flaticon-linkedin:before { content: "\f102"; }
.flaticon-robot:before { content: "\f103"; }
.flaticon-teacher:before { content: "\f106"; }
.flaticon-twitter:before { content: "\f101"; }

/* Global */

html, body {
    color: #151515;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

a {
    color: #151515;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

i {
    color: #ff3c50;
    display: inline-block;
    font-size: 3em;
    line-height: 1;
    margin-top: 0.6em;
}

span.position {
    color: #ff3c50;
}

.section {
    padding: 2em;
}

.section h2 {
    font-weight: 600;
    margin-top: 0;
}

/* Header */

header div {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 1em;
}

header div span:first-of-type {
    background-color: #ff3c50;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin-right: 0.5em;
    width: 2em;
}

header div span:last-of-type{
    font-weight: 400;
}

header nav {
    margin: 3em 0 2em;
}

header nav ul {
    padding-left: 0;
}

header nav ul li {
    display: inline;
    padding: 0 1em;
}

header nav ul li a:hover {
    color: #ff3c50;
}

/* Info section */

#info {
    background-color: #f2f9ff;
    color: #072e5c;
    padding-bottom: 4em;
    padding-top: 4em;
}

#info a {
    background-color: #ff3c50;
    border-radius: 10em;
    color: white;
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1.5em;
}

#info a:hover {
    box-shadow: 0 0.3em 0 0 #072e5c;
    transition: all 0.2s ease;
}

#info a:last-of-type {
    margin-left: 1em;
}

#info img {
    border: 1.2em solid white;
    border-radius: 50%;
    box-shadow: 0 0 2em #d6dee4;
    height: auto;
    margin-bottom: 2em;
    max-width: 250px;
    width: 100%;
}

/* What I do section */

#what-i-do {
    padding-top: 4em;
}

#what-i-do h3 {
    font-weight: 400;
}

#what-i-do div:last-child p {
    margin-bottom: 0;
}

/* Testimonials section */

#testimonials blockquote {
    margin: 0;
}

#testimonials div.grid-container div {
    background-color: #f2f9ff;
    border-radius: 1em;
    color: #072e5c;
    margin: 2.5em 0 0 1.5em;
    padding: 2em 2em 2em 4em;
    position: relative;
    text-align: left;
}

#testimonials h3 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.2em;
}

#testimonials img {
    border-radius: 50%;
    max-width: 70px;
    height: auto;
    width: 100%;
    position: absolute;
    left: -1.5em;
    top: -1.5em;
}

/* A bit more section */

#a-bit-more a:hover i {
    transform: scale(1.1);
    transition: all 0.1s ease;
}

#a-bit-more p a {
    color: #ff3c50;
}

/* Footer */

footer {
    background-color: #f2f9ff;
    color: #072e5c;
    padding: 2em;
}

@media only screen and (min-width: 1000px) {

    html, body {
        text-align: left;
    }

    div.wrapper {
        margin: 0 auto;
        max-width: 1200px;
    }

    header {
        background-color: white;
        box-shadow: 0 0 2em #d6dee4;
        columns: 2;
        height: 2em;
        left: 0;
        padding: 1em 2em;
        position: fixed;
        right: 0;
        z-index: 9999;
    }

    header div {
        margin: 0;
    }

    header div span {
        text-align: center;
    }

    header nav {
        margin: 0;
        padding-top: 0.3em;
        text-align: right;
    }

    header nav ul {
        margin: 0;
    }

    header nav ul li:last-of-type {
        padding-right: 0;
    }

    #info {
        font-size: 1.1em;
        padding-top: 8em;
    }

    #info div.grid-container {
        column-gap: 5em;
        display: inline-grid;
        grid-template-columns: auto auto;
        padding: 0 6em;
    }

    #info div.grid-container div {
        align-self: center;
    }

    #info img {
        margin: 0;
    }

    #what-i-do div.grid-container {
        column-gap: 3em;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 1em;
    }

    #what-i-do div.item {
        column-gap: 1em;
        display: inline-grid;
        grid-template-columns: auto auto;
    }

    #what-i-do h2 {
        margin-bottom: 1em;
    }

    #what-i-do i.flaticon-classroom,
    #what-i-do i.flaticon-cogs {
        margin-top: 0.4em;
    }

    #what-i-do i.flaticon-cloud,
    #what-i-do i.flaticon-robot {
        margin-top: 0.2em;
    }

    #testimonials div.grid-container {
        column-gap: 3em;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #a-bit-more h2 {
        margin-bottom: 0.4em;
    }

    #a-bit-more div.grid-container {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3em;
        text-align: center;
    }

    footer {
        text-align: center;
    }

}
